

.side-menu-container
{
	background-color: transparent;
	min-height: 100%;
	z-index: var(--side-container-z-index);
}

#mid-menu-container
{
	min-height: 100%;
	background-color: transparent;
	z-index: var(--side-container-z-index);
	min-width: 80%;
}

#main-menu-container
{
	background-color: rgba(61, 60, 60, 0.836);
	display: flex;
	flex-flow: wrap;
	min-height: 100%;
}
  
#main-menu-container .menu-component
{
	width: 100%;
} 

.menu-component > div 
{
	border-radius: 6px;
}

.log-container
{
	font-size: 20px;
	display: none;
	overflow-y: scroll;
}

#home-component
{
	display: none;
}

.top-container
{
	display: flex;
	flex-flow: wrap;
	color: white;
}

.top-container h2
{
	margin: 0px;
	font-size: 50px;
	padding: 30px;
}

.form-section-container
{
	flex-grow: 1;
	padding: 30px;
}

.form-section-container form
{
	flex-grow: 1;
}

.menu-card-button-container
{
	align-items: center;
	position: relative;
	display:  none;
}

.menu-header-container
{
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding: 30px;
	border-radius: 42px 0 0 42px;
	flex-shrink: 0;
	z-index: 3;
}

.menu-component
{
	min-height: 570px;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	position: relative;
	z-index: 4;
}

.menu-container
{
	border-radius: 40px;
	flex-basis: 100%;
	display: flex;
	flex-flow: wrap;
	position: relative;
	z-index: 4;
}

.menu-component::before
{
	position: absolute;
	content: "";
	background-color: rgba(255, 255, 255, 0.048);  
	filter: blur(0.8px);
	width: calc(100% - 100px);
	border-radius: 40px;
}

#menu-bottom-component
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

button 
{
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	outline:0;
}
  
svg 
{
	padding: 5px;
}
  
.arrow 
{
	cursor: pointer;
	position: absolute;
	appearance: none;
	background: none;
	z-index: 4;
	border-radius: 100%;
}
  

.left:hover polyline,
.left:focus polyline 
{
	stroke-width: 3;
}
  
.left:active polyline 
{
	stroke-width: 6;
	transition: all 100ms ease-in-out;
}
  
.right:hover polyline,
.right:focus polyline 
{
	stroke-width: 3;
}
  
.right:active polyline 
{
	stroke-width: 6;
	transition: all 100ms ease-in-out;
}
  
polyline 
{
	transition: all 250ms ease-in-out;
}

@media only screen and (min-width: 400px) and (max-width: 1000px)
{
	.menu-component::before
	{
		width: calc(100% - 10px);
	}

	.side-menu-container
	{
		width: 5%;
	}

	#mid-menu-container
	{
		width: 90%;
	}

	.menu-component
	{
		padding: 30px 5px;
	}

	.menu-component::before
	{
		width: calc(100% - 10px);
		
	}

	.menu-component::before
	{
		height: calc(100% - 60px);
	}
}

@media only screen and (min-width: 1001px) 
{
	.side-menu-container
	{
		width: 10%;
	}

	#mid-menu-container
	{
		width: 80%;
	}

	.menu-component::before
	{
		min-height: calc(100% - 100px);
	}

}

@media only screen and (min-width: 400px) and (max-width: 762px)
{
	.home-location > div:last-child
	{
		flex-basis: 100%;
		margin-top: 5px;
		margin-left: 0px;
	}

	/*#home-list-section
	{
		overflow-y: scroll;
		min-height: 348px;
	}*/
	.menu-header-container
	{
		flex-grow: 1;
	}
}

@media only screen and (min-width: 400px) and (max-width: 609px)
{
	

	.menu-header-container
	{
		flex-grow: 1;
		flex-basis: 100%;
		height: 200px;
		border-radius: 42px 42px 0 0;
	}

	.menu-header-container h2
	{
		font-size: 32px;
		padding: 0;
	}
	#home-preview-section,
	.stat-section,
	.form-section-container,
	.preview-container,
	.option-container
	{
		flex-basis: 100%;
		padding: 30px 30px 90px 30px;
	}
}

@media only screen and (min-width: 610px) and (max-width: 1250px)
{

	.menu-header-container
	{
		border-radius: 40px 40px 0 0;
	}
	
	.menu-header-container
	{
		flex-grow: 1;
		flex-basis: 100%;
		height: 200px;
	}

	.menu-header-container h2
	{
		font-size: 40px;
		padding: 0;
	}
	
	#home-preview-section,
	.stat-section,
	.form-section-container,
	.preview-container,
	.option-container
	{
		padding: 30px 30px 90px 30px;
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 1249px)
{
	.left, 
	.right 
	{
		top: calc(100% - 68px);  
		
	}
	.arrow,
	svg
	{
		height: 46px;
		width: 30px;
	}		
	.right
	{
		left: -60px;
	}

	.left::after
	 {
		color: white;
		position: relative;
		content: "back";
		left: 60px;
		top: -40px;
		font-size: 20px;
	 }

	 .right::after
	 {
		color: white;
		position: relative;
		content: "next";
		left: -60px;
		top: -40px;
		font-size: 20px;
	 }

	.left
	{
		left: 30px;
	}
}

@media only screen and (min-width: 1250px)
{
	#main-menu-container
	{
		min-height: calc(100%);
	}

	.left 
	{
		left: -60px;
	}
	
	.right 
	{
		right: -60px;
	}

	.menu-component::before
	{
		height: calc(100% - 100px);
	}

	.menu-header-container
	{
		flex-basis: 50%;
	}

	#home-preview-section,
	.stat-section
	{
		padding: 30px;
	}

	.form-section-container,
	.preview-container,
	.option-container
	{
		flex-basis: 50%;
		padding: 30px;
	}

	#home-list-section
	{
		overflow-y: scroll;
		height: 348px;
	}

	#home-list-section2
	{
		overflow-y: scroll;
		height: 348px;
	}
}

.add-shift
{
	animation-name: home-container-shift;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
	animation-direction: both;
}

@keyframes home-container-shift
{
	0%
	{
		transform: translateX(calc(-100% - 52px));
	}
	100%
	{
		transform: translateX(calc(0));
	}
}