
@media only screen and (min-width: 400px) and (max-width: 1000px)
{
	.menu-component::before
	{
		width: calc(100% - 10px);
		min-height: calc(100% - 60px);
	}

	.side-menu-container
	{
		width: 5%;
	}

	#mid-menu-container
	{
		width: 90%;
	}

	.menu-component
	{
		padding: 30px 5px;
	}
}

@media only screen and (min-width: 1000px) 
{
	.side-menu-container
	{
		width: 10%;
	}

	#mid-menu-container
	{
		width: 80%;
	}
}

@media only screen and (min-width: 400px) and (max-width: 762px)
{
	.mid-home-card-section
	{
		display: none;
	}

	.home-card-field-container
	{
		display: none;
	}

	.card-section
	{
		height: 61px;
	}

	.home-location > div:last-child
	{
		flex-basis: 100%;
		margin-top: 5px;
		margin-left: 0px;
	}

	#home-list-section
	{
		height: calc(100% - 16px);	
	}
}

@media only screen and (min-width: 762px)
{
	.card-section
	{
		height: 180px;
	}
	#home-list-section
	{
		height: calc(100% - 30px);
	}
}

@media only screen and (min-width: 400px) and (max-width: 609px)
{
	.menu-header-container
	{
		border-radius: 6px 6px 0 0;
	}

	.menu-component::before
	{
		width: calc(100% - 10px);
	}

	.menu-header-container
	{
		flex-basis: 300px;
		height: 200px;
	}

	.menu-header-container h2
	{
		font-size: 32px;
		padding: 0;
	}

	.form-section-container,.preview-container
	{
		flex-basis: 400px;
	}
}

@media only screen and (min-width: 610px) and (max-width: 1188px)
{
	.menu-header-container
	{
		border-radius: 6px 6px 0 0;
	}

	.menu-component::before
	{
		height: calc(100% - 100px);
	}

	.menu-header-container
	{
		flex-basis: 450px;
		height: 200px;
	}

	.menu-header-container h2
	{
		font-size: 40px;
		padding: 0;
	}

	.form-section-container,.preview-container
	{
		flex-basis: 500px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 1000px)
{	
	.menu-component::before
	{
		height: calc(100% - 60px);
	}
}

@media only screen and (min-width: 1189px)
{
	.menu-component::before
	{
		height: calc(100% - 100px);
	}

	.menu-header-container
	{
		flex-basis: 400px;
	}

	.form-section-container,.preview-container
	{
		flex-basis: 450px;
	}
}